@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 

*{
     font-family: "Roboto", sans-serif;
}
.center{
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}
.flex{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    color: blue;
}